.header__link {
  font-size: 18px;
  margin: 0 0 0 24px;
  padding: 0;
  transition: all 0.5s;
  text-decoration: none;
  color: #ffffff;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 907px) {
  .header__link {
    margin-right: 27px;
  }
}
