.elements {
  margin: 51px 0 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
  grid-auto-rows: 1fr;
  gap: 16px;
}

@media screen and (max-width: 600px) {
  .elements {
    margin-top: 36px;
  }
}
