.element__trash {
  position: absolute;
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  right: 20px;
  top: 20px;
  background-image: url("../../../images/trash.svg");
  width: 18px;
  height: 19px;
  background-size: cover;
  visibility: hidden;
}
