.popup__input {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 100%;
  height: 32px;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  margin-bottom: 0;
}

.popup__input::placeholder {
  color: #000;
}
