.content {
  width: 880px;
  padding-top: 40px;
  min-height: 70vh;
}

@media screen and (max-width: 918px) {
  .content {
    box-sizing: border-box;
    min-width: 282px;
    padding-left: 19px;
    padding-right: 19px;
    width: 100%;
  }
}
